html {
    scroll-behavior: smooth;
  
  }
  
  html::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #d7d8e4;
    border-radius: 10px;
  }


.parent{
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
}
.parent form {
    width: 70%;
}
@media (max-width:460px) {
    .parent form {
        width: 95%;
    } 
}
.parent h1{
    margin-bottom: 25px;
}